@media screen and (min-width: 768px) {
    .navbar__action {
        font-size: 1.6rem;
        padding: 20px 10px;
    
        &:not(:last-child) {
            display: inherit;
        }
    }

    .navbar__drawer {
        display: none;
    }

    .navbar__menu-list {
        position: static;
        flex-direction: row;
    }

    .navbar__menu {
        // display: flex;
        padding: 20px 10px;
    }
}