extends ../box/box
block content
    .sub-menu__list
        .sub-menu__item
            div First
            div Second
            div Third
        .sub-menu__item
            div First
            div Second
            div Third
        .sub-menu__item
            img(
                src="/asset/image/Background.jpg"
                width=200
                height=200
            )
        .sub-menu__item
            img(
                src="/asset/image/Background.jpg"
                width=200
                height=200
            )