.announce
    .announce__top
        .announce__button-list
            .announce__button gb
            .announce__button usd
        .announce__drop-down
            .announce__option uk
    .announce__bottom announce something here
