.announce
    .announce__top
        .announce__button-list
            button.announce__button gb
            button.announce__button usd
        .announce__drop-down
            .announce__option 
                span.announce__country uk
                span.wmw-down
    .announce__bottom announce something here
