.announce
    .announce__top
        .announce__button-list
            .announce__button gb
            .announce__button usd
        .announce__drop-down
            .announce__option 
                span uk
                span.wmw-down
    .announce__bottom announce something here
