@media screen and (min-width: 768px){
    .announce {
        position: relative;
    }

    .announce__bottom {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        justify-content: center;
        background-color: transparent;
        align-items: center;

        // make the container ignore mouse events
        // like you can click through it
        pointer-events: none;
    }

    .announce__button{
        background-color: transparent;
    }
}
