.announce__option {
    display: inline-flex;
    align-items: center;
    text-transform: uppercase;
}
.announce__button {
    border: 1px solid $color-san-juan;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 20px;
    margin-right: 5px;
}

.announce__top{
    background-color: $color-botticelli;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    align-items: center;
}

.announce__country {
    margin-right: 5px;

}